main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 4px 8px #9f9f9f;
    min-width: 30%;
    min-height: 70%;
}

    .container-form .container-buttons{
        flex: 0;
        min-height: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;        

        display: flex;

    }

    .container-buttons a{
        width: 50%;
        min-height: 100%;
        color: var(--secundary-color);
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
        font-weight: bold;
        user-select: none;

    }
    

    .container-buttons a:any-link{
        text-decoration: none;
    }

    #desativado{
        color: var(--primary-color);
        background-color: rgb(217, 226, 248);
        cursor: pointer;
    }

header .login-buttons{
    display: none;
}

/* #form-login{
    display: flex;
}

#form-cadastro{
    display: none;
} */

form div{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    width: 100%;
}

.oculto{
    display: none
}