:root{
    --primary-color: rgba(0, 71, 255, 1);
    --secundary-color: #fff;
    --hover-color-pri: rgb(0, 37, 131);
    --hover-color-sec: #d8d8d8;


    --button-pri-color: rgba(0, 71, 255, 0.9);
    --button-pri-text: #fff;

    --button-sec-color: #fff;
    --button-sec-text: rgba(0, 71, 255, 0.9);

    --buton-terc-color: #fff;
    --button-terc-text: rgba(0, 71, 255, 0.9);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
}

header{
    height: 70px;
    width: 100%;
    box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

    header .container-logo{
        margin-left: 3%;
        height: 100%;
        min-width: 15%;
        flex: 0;

        display: flex;
        align-items: center;
    }

    header img{
        max-width: 100%;
    }

    header .buttons{
        height: 100%;
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 4%;
        padding-right: 2%;
    }
    header .login-buttons {
        height: 100%;
        display: flex;
        align-items: center;
    }

    header .terc-btn:hover{
        color: var(--secundary-color)
    }


main{
    height: calc(100vh - 130px);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    /* border: 1px solid #000; */
}

footer{
    height: 60px;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-size: 12px;

    color: var(--secundary-color);
    padding: 0px 50px;
}

    footer .terc-btn{
        color: var(--secundary-color);
        background-color: var(--primary-color);
        font-weight: 500;
    }



.primary-btn{
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    border: 2px solid var(--primary-color);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 3px;
}

.primary-btn:any-link{
    text-decoration: none;
}

.primary-btn:hover{
    background-color: var(--hover-color-pri);
}

.secundary-btn{
    padding: 15px 30px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin: 0px 3px;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.secundary-btn:any-link{
    text-decoration: none;
}

.secundary-btn:hover{
    background-color: var(--hover-color-sec);
}

.terc-btn{
    padding: 15px 30px;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    border: 0px solid var(--secundary-color);
    margin: 0px 3px;

    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.terc-btn:any-link{
    text-decoration: none;
}

.terc-btn:hover{
    background-color: var(--hover-color-pri);
}


form {
    flex: 1;
    min-height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    form label{
        width: 100%;
        font-size: 12px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 3px;
        color: #9f9f9f;
        display: none;
    }

    input{
        width: 94%;
        height: 35px;
        padding-left: 5%;
        border: 1px solid #bdbdbd;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        margin: 7px 0px;
    }

    form .primary-btn{
        margin-top: 7%;
    }

    form .primary-btn:hover{
        cursor: pointer;
    }

    form .terc-btn {
        margin-top: 5px;
        font-size: 12px;
        text-transform: none;
    }

    form .terc-btn:hover{
        cursor: pointer;
        background-color: var(--secundary-color);
    }

textarea{
    width: 94%;
    min-height: 35px;
    padding-left: 5%;
    padding-top: 5px;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 7px 0px;
}


/* ANIMAÇÕES ------------------------------------------------------ */


/* LOADER */

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
 
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 22px;
    left: 37px;
    width: 2px;
    height: 10px;
    border-radius: 20%;
    background: rgb(0, 0, 0);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  